<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    
    {% block head %}
        <title>Teachers and Students</title>
    {% endblock %}

    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <header>
      <div class="links">
        <a href="/" class="active" >Teachers</a>
        <a href="/students">Students</a>
      </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>

</html>