{% extends "layout.njk" %}

{% block content %}

  <div class="card">

    <section 
    class="avatar"
    style="background: url(https://source.unsplash.com/collection/1361815/500x500) no-repeat center center / cover"></section>
    
    <section class="details">

      <h3>Detalhes</h3>

      <div class="item">
        <div>Professor</div>
        <div>Girafales</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>34</div>
      </div>

      <div class="item">
        <div>Grau de Escolaridade</div>
        <div>Doutor</div>
      </div>

      <div class="item">
        <div>Tipo de Aula</div>
        <div>
          <span>Presencial</span>
          <span>À distância</span>
        </div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          <span>Matemática</span>
          <span>Física</span>
        </div>
      </div>

      <div class="item">
        <div>Desde</div>
        <div>02/01/2022</div>
      </div>

    </section>

  </div>

{% endblock content %}