@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-color: #1f91fb;
  --secondary-color: #F7DF1E;
  --third-color: #777;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--main-color);
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: white;
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
}

.links {
  font-size: 22px;
}

.links a + a {
  margin-left: 32px;
}

.links a {
  text-decoration: none;
  color: rgb(0, 67, 250);
  position: relative;
}

.links a.active {
  font-weight: bold;
  color: var(--main-color)
}

.links a:hover {
  color: var(--main-color);
}

.links a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 700ms ease-in-out;
}

.card {
  background-color: white;
  width: 800px;
  min-height: 400px;
  
  /* espaçamanento ao centro */
  margin: 45px auto;

  /* grid dividido na proporção 40%/60% */
  display: grid;
  grid-template-columns: 40% 60%;

  /* sombra */
  box-shadow: 0px 10px 6px -2px rgba(0, 0, 0, 0.4);

  /* animation */
  animation: up 2000ms ease-out;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}

.details {
  padding: 32px;
}

.details .item {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 16px;
}

.details .item:last-child {
  border: none;
}

.details h3,
.details .item div:nth-child(1) {
  font-size: 14px;
  line-height:24px;
  color: var(--third-color);
  letter-spacing:0.7px;
  font-weight: normal;
}

.details .item div:nth-child(2) {
  font-size: 18px;
  color: #555;
  font-weight: bold;
}

.details h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-color)
}

.details .item span {
  padding:8px 16px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  color: var(--third-color);
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}