{% extends "layout.html" %}

{% block head %}

  <title>Portifólio - Thiago Carlos</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
       
{% endblock %}

{% block content %}

<div id="wrapper">
  <h1>Aulas</h1>
</div>

<section class="cards">

  <div class="card" id="0mHEuja3c_Y">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/0mHEuja3c_Y/sddefault.jpg" alt="Video Aula">
    </div>
    <div class="card__content">
      <p>Input no terminal com JS e Node.js| Thiago Carlos </p>
    </div>
    <div class="card__info">
      <p>3 min</p>
      <p class="card__price">Free</p>
    </div>
  </div>

  <div class="card" id="mgBc1Scnzjk">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/mgBc1Scnzjk/sddefault.jpg" alt="Video Aula">
    </div>
    <div class="card__content">
      <p>Exercício média em JS | Thiago Carlos </p>
    </div>
    <div class="card__info">
      <p>3 min</p>
      <p class="card__price">Free</p>
    </div>
  </div>

  <div class="card" id="o0hb4HNwWfU">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/o0hb4HNwWfU/sddefault.jpg" alt="Video Aula">
    </div>
    <div class="card__content">
      <p>Exercício Teste dos Triângulos em JS | Thiago Carlos </p>
    </div>
    <div class="card__info">
      <p>13 min</p>
      <p class="card__price">Free</p>
    </div>
  </div>

  <div class="card" id="ZJb0K3hacnY">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/ZJb0K3hacnY/sddefault.jpg" alt="Video Aula">
    </div>
    <div class="card__content">
      <p>Exercício Sua Idade em JS | Thiago Carlos </p>
    </div>
    <div class="card__info">
      <p>5 min</p>
      <p class="card__price">Free</p>
    </div>
  </div>

  <div class="card" id="kcz5fKz3IgY">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/kcz5fKz3IgY/sddefault.jpg" alt="Video Aula">
    </div>
    <div class="card__content">
      <p>Exercício Seus Dólares em JS | Thiago Carlos </p>
    </div>
    <div class="card__info">
      <p>4 min</p>
      <p class="card__price">Free</p>
    </div>
  </div>

  <div class="card" id="F1BPBh8P1xQ">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/F1BPBh8P1xQ/sddefault.jpg" alt="Video Aula">
    </div>
    <div class="card__content">
      <p>Exercício Temperatura em JS | Thiago Carlos </p>
    </div>
    <div class="card__info">
      <p>4 min</p>
      <p class="card__price">Free</p>
    </div>
  </div>
  
</section>

<div class="modal-overlay ">
  <div class="modal">
    <a class="close-modal">
      <i class="material-icons">close</i>
    </a>

    <div class="modal-content">
      <iframe src="" frameborder="0"></iframe>
    </div>
  </div>
</div>

<script src="scripts.js"></script>

{% endblock %}