<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conteúdo</title>
  <link rel="shortcut icon" href="/modulo02/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="desafio2-2.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
  
  <div id="conteudo">
    <h1>Conteúdo</h1>
  </div>

  <section class="cartoes">
    
    <div class="cartao" id="como-renomear-varios-arquivos-de-uma-vez-usando-o-terminal/">
      <div class="imagem">
        <img src="https://blog.rocketseat.com.br/content/images/2020/11/thumb-como-renomear-varios-arquivos-de-uma-vez-usando-o-terminal.jpg" alt="renomear arquivos linux">
      </div>
      <div class="titulo">
        <p>Como renomear vários arquivos de uma vez usando terminal</p>
      </div>
      <div class="autor">
        <p>Autor: Thiago Marinho</p>
      </div>
      <div class="tempoLeitura">
        <p>Tempo de leitura: 4 min</p>
      </div>
    </div>
    
    <div class="cartao" id="mapas-com-react-usando-leaflet/">
      <div class="imagem">
        <img src="https://blog.rocketseat.com.br/content/images/2020/11/blog-thumb-utilizando-mapas-no-react-com-leaflet-1.jpg" alt="mapas com react">
      </div>
      <div id="tituloLeadflet" class="titulo leadflet">
        <p>Mapas com React usando Leaflet</p>
      </div>
      <div class="autor">
        <p>Autor: Thiago Marinho</p>
      </div>
      <div class="tempoLeitura">
        <p>Tempo de leitura: 11 min</p>
      </div>
    </div>

    <div class="cartao" id="nextjs-novidades-na-versao-10-e-atualizacao-do-blog-para-melhorar-a-performance/">
      <div class="imagem">
        <img src="https://blog.rocketseat.com.br/content/images/2020/11/capa_visao-geral-sobre-next-js-na-versao-10-e-atualizacao-do-blog-para-melhorar-a-performance.jpg" alt="next.js novidades v.10">
      </div>
      <div class="titulo">
        <p>Next.JS - Novidades na versão 10 e atualização do blog para melhorar a performance</p>
      </div>
      <div class="autor">
        <p>Autor: Thiago Marinho</p>
      </div>
      <div class="tempoLeitura">
        <p>Tempo de leitura: 4 min</p>
      </div>
    </div>
  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
        <i class="material-icons">close</i>
      </a>
      
      <div class="modal-content">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>

  <script src="desafio2-3.js"></script>

</body>
</html>