<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Primeiro HTML</title>
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <div id="buttons">
      <a class="links" href="https://discordapp.com/invite/gCRAFhc" target="_blanck">Comunidade</a>
      <a class="links" href="mailto:oi@rocketseat.com.br" target="_blanck">Email</a>
      <a class="links" href="tel:+5547992078767" target="_blanck">Telefone</a>
      <a class="links" href="/sobre" target="_blanck">Sobre</a>
      <a class="links" href="/conteudo" target="_blanck">Conteúdo</a>
    </div>
  </header>
  <section id="imageRocketseat">
    <div>
      <img src="https://avatars.githubusercontent.com/u/28929274?s=200&v=4" alt="logoRocketseat">
    </div>
  </section>
</body>
</html>