{% extends "layout.njk" %}

{% block head %}
  <title>Sobre</title>
{% endblock %}

{% block content %}

  <div id="image">
    <img src="{{ sobre.avatar_url }}" alt="Imagem de {{ sobre.title }}">
  </div>

  <div id="aboutCompany">
    <h1>{{ sobre.title }}</h1>
    <p id="paragraph">
      {{ sobre.description }}
    </p>
  </div>

  <div id="listTechnologies">
    <ul>

      {% for technology in sobre.listTechnologies %}
        <li>{{ technology.name }}</li>
      {% endfor %}

    </ul>
  </div>

  <div id="bottomSocialMedia">

    {% for bottom in sobre.bottomSocialMedia %}
      <a href="{{bottom.url}}" target="_blank"> {{ bottom.name }} </a>
    {% endfor %}

  </div>

{% endblock %}